<<<<<<< ae17e6e4f7d763a0ac78a7beef01aec2de0a43c8
theme: jekyll-theme-hacker
=======
# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Phạm Đình Trí
email: dinhtri91@gmail.com
description: > # this means to ignore newlines until "baseurl:"
  My blog
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://phamdinhtri.github.io/" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: dinhtri91
github_username:  PhamDinhTri

# Build settings
markdown: kramdown
theme: jekyll-theme-hacker
gems:
  - jekyll-feed
exclude:
  - Gemfile
  - Gemfile.lock
>>>>>>> no message
